{% templatetag openblock %} extends "admin/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n static utils {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}
{% templatetag openvariable %} title {% templatetag closevariable %} | {% templatetag openvariable %} site_title|default:_('Administration') {% templatetag closevariable %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block extrastyle {% templatetag closeblock %}
    {% templatetag openvariable %} block.super {% templatetag closevariable %}

    <link rel="stylesheet" type="text/css" href="{% templatetag openblock %} static 'bundles/admin_overrides.css' {% templatetag closeblock %}">

    <link href="{% templatetag openblock %} static 'ico/favicon.svg' {% templatetag closeblock %}" sizes="any" rel="icon" type="image/svg+xml" />
    <link href="{% templatetag openblock %} static 'ico/favicon-96x96.png' {% templatetag closeblock %}" sizes="96x96" rel="icon" type="image/png" />
    <link href="{% templatetag openblock %} static 'ico/favicon-32x32.png' {% templatetag closeblock %}" sizes="32x32" rel="icon" type="image/png" />
    <link href="{% templatetag openblock %} static 'ico/favicon.png' {% templatetag closeblock %}" sizes="16x16" rel="icon" type="image/png" />
    <link href="{% templatetag openblock %} static 'ico/favicon.png' {% templatetag closeblock %}" rel="shortcut icon">
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block branding {% templatetag closeblock %}
    {% templatetag openblock %} version as build {% templatetag closeblock %}
    <h1 id="site-name">
        <a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">
            {% templatetag openvariable %} site_header|default:_('Administration') {% templatetag closevariable %}

            {% templatetag openblock %} if build {% templatetag closeblock %}
                <span class="version">
                    ({% templatetag openvariable %} build {% templatetag closevariable %})
                </span>
            {% templatetag openblock %} endif {% templatetag closeblock %}
        </a>
    </h1>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block userlinks {% templatetag closeblock %}
    {% templatetag openblock %} if site_url {% templatetag closeblock %}
        <a href="{% templatetag openvariable %} site_url {% templatetag closevariable %}">{% templatetag openvariable %} settings.SITE_TITLE {% templatetag closevariable %}</a> /
    {% templatetag openblock %} endif {% templatetag closeblock %}
    {% templatetag openblock %} url 'admin:two_factor:profile' as 2fa_profile_url {% templatetag closeblock %}
    {% templatetag openblock %} if 2fa_profile_url {% templatetag closeblock %}
        <a href="{% templatetag openvariable %} 2fa_profile_url {% templatetag closevariable %}">{% templatetag openblock %} trans "View 2fa profile" {% templatetag closeblock %}</a> /
    {% templatetag openblock %} endif {% templatetag closeblock %}
    {% templatetag openblock %} if user.has_usable_password {% templatetag closeblock %}
    <a href="{% templatetag openblock %} url 'admin:password_change' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Change password' {% templatetag closeblock %}</a> /
    {% templatetag openblock %} endif {% templatetag closeblock %}
    <a href="{% templatetag openblock %} url 'admin:logout' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Log out' {% templatetag closeblock %}</a>
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block nav-global {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
