/*
Generic admin styling overrides.

DO NOT PUT ANY TARGET APP-SPECIFIC RULES HERE.
*/
@import "./vars";

/* Overrides */
body {
  overflow-y: scroll;

  &.change-form {
    line-height: 1.15;
  }
}

a:link,
a:visited {
  color: $color_link;
}
a:focus,
a:hover {
  color: $color_link_hover;
}

#header {
  color: $color_secondary_light;
  background: $color_primary;
  /* border-bottom: 8px solid $color_secondary; */
  position: sticky;
  top: 0;
  z-index: 100000;

  a:link,
  a:visited {
    color: $color_lightest;
  }
}

#user-tools a {
  border-bottom: none;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $color_darkest;
  }
}

.module h2,
.module caption,
.inline-group h2 {
  background: $color_primary;
}

#branding {
  h1 {
    color: $color_secondary;

    a:link,
    a:visited {
      color: $color_secondary;
    }
  }
}

div.breadcrumbs {
  background: $color_secondary;
  color: $color_primary;
  position: sticky;
  top: 60px;
  z-index: 100000;

  a {
    color: $color_dark;

    &:focus,
    &:hover {
      color: $color_darkest;
    }
  }
}

/* Important is used because Django templates include their own style, after ours */
#changelist-filter {
  min-height: 100vh; /* hack to get changelist_view with search styled properly */
  a:focus,
  a:hover {
    color: $color_link !important;
  }
  li.selected a {
    color: $color_link !important;
    &:focus,
    &:hover {
      color: $color_primary !important;
    }
  }
}

/* hack to get changelist_view with search styled properly */
#content {
  #changelist {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 16px;
  }

  #toolbar,
  .xfull {
    grid-column: 1/ 3;
  }
}

.form-row {
  // Make sure the contrast is enough.
  border-bottom-color: $color_secondary_dark;
}

.object-tools {
  a:focus,
  a:hover {
    background-color: $color_dark;
  }
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background: $color_primary;
  color: $color_lightest;
  /* border: 2px solid $color_dark; */
}

.button,
input[type="submit"],
input[type="button"] {
  &:active,
  &:focus,
  &:hover {
    background: $color_primary_dark;
  }
}

.button,
input[type="submit"],
.submit-row input {
  &.default {
    background: $color_primary_dark;

    &:active,
    &:focus,
    &:hover {
      background: $color_darkest;
    }
  }
}

.delete-confirmation {
  form {

    input[type="submit"] { }

    .cancel-link {
      background: $color_primary_light;
      color: $color_lightest;

      &:active,
      &:focus,
      &:hover {
        background: $color_dark;
      }
    }
  }
}

/* Many to many selector */
.selector-chosen h2 {
  background: $color_primary !important;
}

/* Calendar widget */
.calendar {
  caption {
    background: $color_secondary_dark !important;
    color: $color_dark !important;
  }

  td {
    a {
      &:active {
        background: $color_primary !important;
      }

      &:focus,
      &:hover {
        background: $color_primary_dark !important;
      }
    }

    &.selected a {
      background: $color_primary !important;
    }
  }
}
.calendarbox h2 {
  background: $color_secondary_dark !important;
  color: $color_dark !important;
}

/* Time widget */
.timelist {
  a:active {
    background: $color_primary !important;
  }

  a:focus,
  a:hover {
    background: $color_primary_dark !important;
  }
}
.module.clockbox h2 {
  /* Match the clock widget with the calendar widget */
  background: $color_secondary_dark !important;
  color: $color_dark !important;
  font-weight: bold !important;
}

/* Icons */
.addlink {
  background: url("../img/admin/plus-square-regular.svg") 0 0/14px 14px no-repeat;
}
.changelink,
.inlinechangelink {
  background: url("../img/admin/edit-regular.svg") 0 0/14px 14px no-repeat;
}
.deletelink {
  background: url("../img/admin/trash-alt-regular.svg") 0 0/14px 14px no-repeat;
}
.datetimeshortcuts .clock-icon {
  background: url("../img/admin/clock-regular.svg") 0 0/14px 14px no-repeat !important;
}
.datetimeshortcuts .date-icon {
  background: url("../img/admin/calendar-alt-regular.svg") 0 0/14px 14px no-repeat !important;
}

/* Footer */
.login .version {
  text-align: center;
}
.version {
  color: $color_secondary_dark;
  font-size: smaller;
}

/**
 * Environment banner
 */
.env {
  display: block;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: $color_secondary;
  background-color: $color_dark;
  position: fixed;
  top: 0;
  height: 35px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  z-index: 1000001;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/**
 * Django form field lengths
 */
.change-form {
  .vTextField {
    width: $input-field-size;
  }
}

/**
 * Django form related widget
 */
.related-widget-wrapper {
  display: inline-block;
}

/**
 * Branding
 */
#branding h1 {
  a:link,
  a:visited {
    font-weight: bold;
  }
}

/**
 * Help text mouseover
 */
div.help {
  cursor: help;
  width: 16px;
  height: 16px;
  background-image: url(../admin/img/icon-unknown.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 14px;
  margin-left: 8px !important;
  margin-top: 6px !important;
  position: absolute;
  text-indent: -9999px;

  &:hover {
    text-indent: inherit;
    width: auto;
    background-image: none;
    background-color: $color-tooltip-background;
    border: 1px solid $color-tooltip-border;
    color: $color-tooltip-text;
    padding: 5px 5px 3px 5px !important;
    max-width: 300px;
    height: auto !important;
    margin-top: 2px !important;
    z-index: 10;
  }
}

.related-widget-wrapper ~ div.help {
  margin-top: 8px !important;

  &:hover {
    margin-top: 4px !important;
  }
}

/* Overrides default Django CSS */
.aligned label + p,
.aligned label + div.readonly {
  display: inline-block;
  margin-left: inherit !important;
}
.aligned label + div.help {
  margin-left: 2px !important;
}

/* Additional components seem to need the same behaviour */
/* TODO: TinyMCE is different... */
.aligned label + ul {
  display: inline-block;
  margin-left: inherit !important;
}
